* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

.marker {
  height: calc(0.7 * 0.5 * 0.5 * 100vw);
  max-height: calc(0.3 * 85vh);
  max-width: calc(0.3 * 85vh);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.2);
}

.marker-a:hover {
  transform: scale(1.1);
  background: rgba(0, 255, 0, 0.5);
}

.marker-b:hover {
  transform: scale(1.15);
  background: rgba(255, 0, 0, 0.5);
}

.marker-margin {
  margin-left: auto;
}

img {
  height: 100%;
}

body {
  height: 100vh;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  background-color: black;
}

.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header {
  background: linear-gradient(to right, #16ae58, #c6e115 70%, #e6eb08);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: 3px solid #070707;
  height: 15%;
}

header h1 {
  font-size: 54px;
}

.start-screen {
  height: 85%;
  background-image: url("./images/bg.jpg");
  background-size: cover;
}

.markers {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px;
}

.marker-a.selected {
  border: 2px solid green;
  background-color: rgba(0, 255, 0, 0.7);
}

.marker-b.selected {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.7);
}

form > h2 {
  grid-row: 1;
  grid-column: 1 / 3;
}

form {
  width: 70%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#start-game-wrapper {
  grid-row: 4;
  grid-column: 1 / 3;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-info > label,
input {
  font-size: 24px;
  text-align: center;
}

.player-info > label {
  color: white;
}

input {
  width: 25vw;
  max-width: 270px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  border: 2px solid #747400;
}

input.focus {
  border: 2px solid #dddd0b;
}

input.invalid {
  border: 2px solid red;
}

input.valid {
  border: 2px solid green;
}

main {
  height: 85%;
  flex-direction: column;
  background-image: url("./images/bg.jpg");
  /**background-color: #c5c3c6;**/
}

h2 {
  font-size: 32px;
  color: #00ff67;
  text-shadow: 3px 2px 5px #000000;
}

.game-info {
  display: flex;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: 70%;
  width: calc(0.7 * 85vh);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid black;
  padding: 1%;
}

.cell-no-bottom {
  border-bottom: none;
}

.cell-no-top {
  border-top: none;
}

.cell-no-left {
  border-left: none;
}

.cell-no-right {
  border-right: none;
}

.game-btns {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 10px 20px;
  font-size: 24px;
  color: #e9e9e9;
  border-radius: 5px;
  border: 3px solid #17301b;
  background-color: #345e24;
  cursor: pointer;
}

button:hover {
  background-color: #48643d;
}

button:active {
  transform: scale(0.9);
}

.hidden {
  display: none;
}

@media only screen and (max-width: 450px) and (min-height: 600px) {
  header h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
  }
  .player-info > label,
  input {
    font-size: 20px;
  }
  .board {
    height: calc(0.9 * 100vw);
    width: 90%;
  }
  button {
    font-size: 16px;
    padding: 5px 10px;
  }
  .start-screen {
    height: auto;
    padding: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .marker {
    height: calc(0.9 * 0.5 * 100vw);
  }
  img {
    max-height: calc(0.9 * 0.44 * 100vw);
  }
  input {
    width: 200px;
  }
}
